block footer
  footer.footer
    .container-fluid
      .copyright.pull-right
        | © 
        script.
        document.write(new Date().getFullYear())
        | , 
        a(href='http://rendezvousgec.in') Rendezvous'18