head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/img/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Election'19
    //- Bootstrap core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    //- Animation library for notifications
    link(href='/css/animate.min.css', rel='stylesheet')
    //- Paper Dashboard core CSS
    link(href='/css/paper-dashboard.css', rel='stylesheet')
    //- CSS for Demo Purpose, don't include it in your project
    link(href='/css/demo.css', rel='stylesheet')
    //- Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='/css/themify-icons.css', rel='stylesheet')
    script(src='/js/jquery-1.10.2.js', type='text/javascript')
    //- Notifications Plugin
    script(src='/js/bootstrap-notify.js')