extends layout

block content
  h1= title
  form(action="", method="post")
    input(type="text", name="username", placeholder="Username")
    br
    input(type="password", name="password", placeholder="Password")
    br
    button(type="submit") Login
