doctype html
html
  include head
  body
    .wrapper
      include left-menu
      .main-panel
        include navbar
        block content           
    //- Core JS Files
    script(src='/js/bootstrap.min.js', type='text/javascript')
    //- Checkbox, Radio & Switch Plugins
    script(src='/js/bootstrap-checkbox-radio.js')
    //- Paper Dashboard Core javascript and methods for Demo purpose
    script(src='/js/paper-dashboard.js')