.sidebar(data-background-color='white', data-active-color='danger')
  //- Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  //- Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"    
  .sidebar-wrapper
    .logo
      img(src='/img/logo.png', alt="Rendezvous'18", style='width:200px')
    ul.nav
      if page=='register'
        li.active
          a(href='register')
            i.ti-panel
            p Register
      else
        li
          a(href='register')
            i.ti-panel
            p Register
      if page=='reg-booth'
        li.active
          a(href='reg_assembly')
            i.ti-panel
            p Add data
      else
        li
          a(href='reg_assembly')
            i.ti-panel
            p Add data
      if page=='list'
        li.active
          a(href='list')
            i.ti-panel
            p Candidate List
      else
        li
          a(href='list')
            i.ti-panel
            p Candidate List
      if page=='results'
        li.active
          a(href='results')
            i.ti-panel
            p Voting Results
      else
        li
          a(href='results')
            i.ti-panel
            p Voting Results
      if page=='report'
        li.active
          a(href='report_assembly')
            i.ti-panel
            p Reports
      else
        li
          a(href='report_assembly')
            i.ti-panel
            p Reports
      if page=='voters'
        li.active
          a(href='voters')
            i.ti-panel
            p Voters
      else
        li
          a(href='voters')
            i.ti-panel
            p Voters
