doctype html
html(lang='en')
  include head
  body
    .wrapper
      div
        .content(style='margin-top:50px')
          .container-fluid
            .row
              .col-lg-4.col-md-7
              .col-lg-4.col-md-7
                .card.card-user
                  .image
                    img(src='/img/logo.png', alt='...')
                  form.content(method='post')
                    .author
                      img.avatar.border-white(src='/img/icon_128.png', alt='...')
                      h4.title
                        | Admin Panel
                        br
                        //-a(href='#')
                          small Coordinators Login
                    .form-group
                      input.form-control.border-input(name='username', type='text', placeholder='Username')
                    .form-group
                      input.form-control.border-input(name='password', type='password', placeholder='Password')
                    .text-center
                      button.btn.btn-info.btn-fill.btn-wd(type='submit') Login
                    .clearfix
      if error
        script.
          type = ['','info','success','warning','danger'];
          function msg(from, align){
          color = 3;
          $.notify({
          icon: "ti-bell",
          message: "#{msg}"
          },{
          type: type[color],
          timer: 4000,
          placement: {
          from: from,
          align: align
          }
          });
          }
          msg('top','center');
