extends layout

block content
  .content
    .container-fluid
      .row    
        .col-lg-8.col-md-12
          .card
            .header
              .nav-tabs-navigation
                .nav-tabs-wrapper
                  ul#tabs.nav.nav-tabs
                    li
                      a(href='reg_assembly') Assembly
                    li.active
                      a(href='reg_booth') Booth
            .content
              form(method='post')
                .row
                  .col-md-12
                    .form-group
                      label Assembly Name
                      select.form-control.border-input(required='', name='assembly')                        
                        option(value="") Select  
                        each item in assembly 
                          option(value=item.a_id)= item.a_name
                    .form-group
                      label Booth Name
                      input.form-control.border-input(required='', name='bname', type='text', placeholder='Booth Name', value='')
                    
                .text-center
                  button.btn.btn-info.btn-fill.btn-wd(type='submit') Add
              .clearfix
      .row
        .col-lg-8
          .card
            .header
              h4.title Booth List
            .content
              form(method='get')
                .row
                  .col-md-12
                    .form-group
                      label Assembly Name
                      select.form-control.border-input(required='', name='assembly',onchange="submit()")                        
                        option(value="") Select  
                        each item in assembly 
                          option(value=item.a_id, selected=item.a_id == choosen )= item.a_name
              table.table.table-striped.table-bordered
                thead
                  tr
                    th #
                    th Booth name
                tbody
                  each item in data
                    tr
                      td= item.b_id
                      td= item.b_name

  if msg
    script.
      type = ['','info','success','warning','danger'];
      function msg(from, align){
      color = #{type};
      $.notify({
      icon: "ti-bell",
      message: "#{text}"
      },{
      type: type[color],
      timer: 4000,
      placement: {
      from: from,
      align: align
      }
      });
      }
      msg('top','center');
