extends layout

block content
  .content
    .container-fluid
      .row
        .col-lg-8
          .card
            .header
              h4.title Register Candidate
            .content
              form(method='post', enctype='multipart/form-data')
                .row
                  .col-md-12
                    .form-group
                      label Candidate Name
                      input.form-control.border-input(required='', name='cname', type='text', placeholder='Candidate Name', value='')                    
                    .form-group
                      label Candidate Symbol
                      input.form-control.border-input(required='', name='symbol', type='file', placeholder='Candidate Symbol', value='')                    
                    .form-group
                      label Assembly Name
                      select.form-control.border-input(required='', name='assembly')                        
                        option(value="") Select  
                        each item in assembly 
                          option(value=item.a_id)= item.a_name
                    
                .text-center
                  button.btn.btn-info.btn-fill.btn-wd(type='submit') Add
              .clearfix
      .row
        .col-lg-8
          .card
            .header
              h4.title Candidates
            .content
              form(method='get')
                .row
                  .col-md-12
                    .form-group
                      label Assembly Name
                      select.form-control.border-input(required='', name='assembly',onchange="submit()")                        
                        option(value="") Select  
                        each item in assembly 
                          option(value=item.a_id, selected=item.a_id == choosen )= item.a_name
              table.table.table-striped.table-bordered
                thead
                  tr
                    th #
                    th Name
                    th Symbol
                    th Action
                tbody
                  -var count=0
                  each item in data
                    -var img = "/img/candidate/"+item.c_symbol
                    -var dlt = "delete_candidate?id="+item.c_id
                    -count=count+1
                    tr
                      td= count
                      td= item.c_name
                      td
                        img(src=img,width=60)
                      td
                        a.btn.btn-warning.btn-fill(href=dlt,onclick="return confirm('Delete candidate?');") Delete 
                          i.ti-trash

  if msg
    script.
      type = ['','info','success','warning','danger'];
      function msg(from, align){
      color = #{type};
      $.notify({
      icon: "ti-bell",
      message: "#{text}"
      },{
      type: type[color],
      timer: 4000,
      placement: {
      from: from,
      align: align
      }
      });
      }
      msg('top','center');
