extends layout

block content
  .content
    .container-fluid
      .row    
        .col-lg-8.col-md-12
          .card
            .header
              .nav-tabs-navigation
                .nav-tabs-wrapper
                  ul#tabs.nav.nav-tabs
                    li.active
                      a(href='report_assembly') Assembly
                    li
                      a(href='report_booth') Booth
            .content
              table.table.table-striped.table-bordered
                thead
                  tr
                    th Assembly Name
                    th Total Votes/Voters
                    th Male Votes/Voters
                    th Female Votes/Voters
                tbody
                  each item in data
                    -var col1 = item.ttl_vtd+"/"+item.ttl
                    -var col2 = item.ml_vtd+"/"+item.ml
                    -var col3 = item.fm_vtd+"/"+item.fm
                    tr
                      td= item.a_name
                      td= col1
                      td= col2
                      td= col3
              .clearfix

  if msg
    script.
      type = ['','info','success','warning','danger'];
      function msg(from, align){
      color = #{type};
      $.notify({
      icon: "ti-bell",
      message: "#{text}"
      },{
      type: type[color],
      timer: 4000,
      placement: {
      from: from,
      align: align
      }
      });
      }
      msg('top','center');
