extends layout

block content
  .content
    .container-fluid
      .row
        .col-lg-8
          .card
            .header
              h4.title Voting Results
            .content
              form(method='get')
                .row
                  .col-md-12
                    .form-group
                      label Assembly Name
                      select#assemblySelect.form-control.border-input(required='', name='assembly',onchange="submit()")                        
                        option(value="") Select  
                        each item in assembly 
                          option(value=item.a_id, selected=item.a_id == choosen )= item.a_name
              table.table.table-striped.table-bordered
                thead
                  tr
                    th #
                    th Name
                    th Symbol
                    th Count
                tbody#votingResults
                  

  if msg
    script.
      type = ['','info','success','warning','danger'];
      function msg(from, align){
      color = #{type};
      $.notify({
      icon: "ti-bell",
      message: "#{text}"
      },{
      type: type[color],
      timer: 4000,
      placement: {
      from: from,
      align: align
      }
      });
      }
      msg('top','center');
  script(src="/js/blockchain/web3.min.js")
  script(src="/js/blockchain/truffle-contract.js")
  script(src="/js/blockchain/results.js")
